<h1>Listing expenses</h1>

<table>
  <thead>
    <tr>
      <th>Eid</th>
      <th>Edate</th>
      <th>Category</th>
      <th>Item name</th>
      <th>Amount</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.eid %></td>
        <td><%= expense.edate %></td>
        <td><%= expense.category %></td>
        <td><%= expense.item_name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.quantity %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
