<p id="notice"><%= notice %></p>

<p>
  <strong>Eid:</strong>
  <%= @expense.eid %>
</p>

<p>
  <strong>Edate:</strong>
  <%= @expense.edate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @expense.item_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @expense.quantity %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
